<component name="ArtifactManager">
  <artifact type="war" name="springpractices:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="jh-springcrud.war">
      <element id="artifact" artifact-name="springpractices:war exploded" />
    </root>
  </artifact>
</component>